BLOGGER_BLOG_ID=your_blog_id_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
RSS_FEEDS=https://feeds.bbci.co.uk/arabic/rss.xml,https://www.aljazeera.net/xml/rss/all.xml
UNSPLASH_ACCESS_KEY=your_unsplash_key_optional
